.square-container {
  border: 2px solid white;
  text-align: center;
  font-size: 200px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
  font-family: 'Montserrat Thin', sans-serif; 
  position: relative;
}

.square-container:empty::after {
  content: ".";
  visibility: hidden;
}

.square-container:hover,
.square-container-active {
  background-color: transparent;
  border: 2px solid white;
  color: #FAB627;
  text-shadow: 0 0 1px #FAB627, 0 0 4px #FAB627, 0 0 20px #FAB627, 0 0 40px #FAB627; 
}

.square-container.neon-border {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FAB627, 0 0 20px #FAB627, 0 0 30px #FAB627; 
}


