.square-container {
    border: 2px solid white;
    text-align: center;
    font-size: 180px;
    padding: 1px;
    cursor: pointer;
    user-select:none;
}

.square-container:empty::after {
    content: ".";
    visibility: hidden;
}

.square-container:hover, .square-container-active {
    background-color: transparent;
    border: 2px solid white;
    color: #FAB627;
}

/* Customize container */
@media (max-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}


